# 기출문제 6회

**제1유형**


1.   주어진 데이터를 이용하여 이동시간(출동시간과 도착시간의 차이)이 평균적으로 가장 오래 걸린 구급대의 이동시간을 구하시오

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_1.csv')
print(df.head())
print()
print(df.info())
print()
print(df.describe())

    구급대                 출동시간                 도착시간
0  구급대8  2020-07-10 06:11:45  2020-07-10 06:52:06
1  구급대9  2020-07-13 06:12:21  2020-07-13 07:58:59
2  구급대1  2020-07-06 06:12:29  2020-07-06 07:51:55
3  구급대5  2020-07-21 06:11:41  2020-07-21 08:08:36
4  구급대1  2020-07-29 06:12:00  2020-07-29 07:24:21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구급대     100 non-null    object
 1   출동시간    100 non-null    object
 2   도착시간    100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB
None

         구급대                 출동시간                 도착시간
count    100                  100                  100
unique    10                   88                  100
top     구급대9  2020-07-13 06:11:52  2020-07-10 06:52:06
freq      15                    3                    1

In [ ]:
# 데이터의 전처리 - 수치형으로 변환
df['출동시간'] = pd.to_datetime(df['출동시간'])
df['도착시간'] = pd.to_datetime(df['도착시간'])

In [ ]:
df['이동시간'] = df['도착시간'] - df['출동시간']
df['이동시간'] = df['이동시간'].dt.total_seconds()/60
print(df)

     구급대                출동시간                도착시간        이동시간
0   구급대8 2020-07-10 06:11:45 2020-07-10 06:52:06   40.350000
1   구급대9 2020-07-13 06:12:21 2020-07-13 07:58:59  106.633333
2   구급대1 2020-07-06 06:12:29 2020-07-06 07:51:55   99.433333
3   구급대5 2020-07-21 06:11:41 2020-07-21 08:08:36  116.916667
4   구급대1 2020-07-29 06:12:00 2020-07-29 07:24:21   72.350000
..   ...                 ...                 ...         ...
95  구급대3 2020-07-06 06:12:27 2020-07-06 06:50:09   37.700000
96  구급대6 2020-07-17 06:12:02 2020-07-17 06:16:49    4.783333
97  구급대7 2020-07-12 06:12:22 2020-07-12 07:32:26   80.066667
98  구급대6 2020-07-08 06:12:05 2020-07-08 06:41:31   29.433333
99  구급대8 2020-07-10 06:12:16 2020-07-10 06:30:46   18.500000

[100 rows x 4 columns]

In [ ]:
#grouped = df.groupby('구급대')#['이동시간'].mean()
#grouped.size()

grouped = df.groupby('구급대')['이동시간'].mean()
grouped

구급대
구급대1     54.952381
구급대10    42.365000
구급대2     60.228571
구급대3     43.490741
구급대4     49.136667
구급대5     61.250000
구급대6     41.764583
구급대7     83.337037
구급대8     42.693750
구급대9     80.658889
Name: 이동시간, dtype: float64

In [ ]:
print(round(grouped.max()))

83

---
2.   주어진 데이터를 이용하여 교수 1인당 맡고 있는 학생 수가 가장 많은 대학교를 찾고, 그 대학교의 전체 교수의 수를 구하시오(정수로 출력)

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_2.csv')
print(df)
print()
print(df.info())

     대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과
0    대학교1  20   121    72     158    131    77    59
1    대학교2  31   178   139     145    137    63    90
2    대학교3  23   136   139     154    111    91    50
3    대학교4  32    72   136      67     51   133   159
4    대학교5  22    61    73      86     82    55   124
5    대학교6  32   169   172     137    173    59   128
6    대학교7  29   173   183     112    154   134   133
7    대학교8  19   141    81     101    118   151   123
8    대학교9  40   137   145     191     58    96    71
9   대학교10  34   197    93     125    116   181   150
10  대학교11  21   136   139     136    126    54    98
11  대학교12  37    72   113      53    180   118   153
12  대학교13  36   138    65     153    126   139   189
13  대학교14  34    95    89     179    164   131   167
14  대학교15  20    52    84     160     99    55   113
15  대학교16  30   129   191     117     50    77    66
16  대학교17  35   143    72      71    161    52   177
17  대학교18  31    68   187     113     57   133   113
18  대학교19  34    58   140     141    126   149    56
19  대학교20  39    91   131      66     86   146   101
20  대학교21  31    50   156     103    111    51   156
21  대학교22  26   166   178     197    120   136    62
22  대학교23  39    83   156      58    124   139   133
23  대학교24  23    71    94     178    121   157    93
24  대학교25  24    81    55     159    177    83   172
25  대학교26  19    89   127     135    112   124   121
26  대학교27  31   128    66      56     81   195   150
27  대학교28  36    60   170     188     86   133   144
28  대학교29  21    78   113     123    110    82   192
29  대학교30  27   195    63     189     98   129   129
30  대학교31  26    58   168     179    123   198    53
31  대학교32  40   152   138     108     65    64   190
32  대학교33  38   190   136      55     87   128   122
33  대학교34  29   148   108      66    114   122    93
34  대학교35  32   137    86      72     52   124   133
35  대학교36  25   159   104     177     61   158    66
36  대학교37  32   141   158      61     53   177    92
37  대학교38  40    60   141     162    102   111   110
38  대학교39  23    93    62     190    106    66   159
39  대학교40  25    61   121     184     92   185    99
40  대학교41  20    64    88      79    168    73    84
41  대학교42  37    98   152     195    161   186   143
42  대학교43  28   177   169     107    122   185    73
43  대학교44  22    87   106     167    160   101   153
44  대학교45  21   105    72     162     60   186   129
45  대학교46  22   163   189     192    121    99   183
46  대학교47  34    85    51      91     72   134    58
47  대학교48  41    57   103      59     89   184    75
48  대학교49  21   150   158     159     78    65   195
49  대학교50  42    71   102     148     96   157    82

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대학교명    50 non-null     object
 1   교수      50 non-null     int64
 2   경영학과    50 non-null     int64
 3   경제학과    50 non-null     int64
 4   컴퓨터공학과  50 non-null     int64
 5   산업공학과   50 non-null     int64
 6   국문학과    50 non-null     int64
 7   영문학과    50 non-null     int64
dtypes: int64(7), object(1)
memory usage: 3.2+ KB
None

In [ ]:
df['단위교수학생수'] = (df['경영학과']+df['경제학과']+df['컴퓨터공학과']+df['산업공학과']+df['국문학과'] +df['영문학과'])/df['교수']
df

     대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과    단위교수학생수
0    대학교1  20   121    72     158    131    77    59  30.900000
1    대학교2  31   178   139     145    137    63    90  24.258065
2    대학교3  23   136   139     154    111    91    50  29.608696
3    대학교4  32    72   136      67     51   133   159  19.312500
4    대학교5  22    61    73      86     82    55   124  21.863636
5    대학교6  32   169   172     137    173    59   128  26.187500
6    대학교7  29   173   183     112    154   134   133  30.655172
7    대학교8  19   141    81     101    118   151   123  37.631579
8    대학교9  40   137   145     191     58    96    71  17.450000
9   대학교10  34   197    93     125    116   181   150  25.352941
10  대학교11  21   136   139     136    126    54    98  32.809524
11  대학교12  37    72   113      53    180   118   153  18.621622
12  대학교13  36   138    65     153    126   139   189  22.500000
13  대학교14  34    95    89     179    164   131   167  24.264706
14  대학교15  20    52    84     160     99    55   113  28.150000
15  대학교16  30   129   191     117     50    77    66  21.000000
16  대학교17  35   143    72      71    161    52   177  19.314286
17  대학교18  31    68   187     113     57   133   113  21.645161
18  대학교19  34    58   140     141    126   149    56  19.705882
19  대학교20  39    91   131      66     86   146   101  15.923077
20  대학교21  31    50   156     103    111    51   156  20.225806
21  대학교22  26   166   178     197    120   136    62  33.038462
22  대학교23  39    83   156      58    124   139   133  17.769231
23  대학교24  23    71    94     178    121   157    93  31.043478
24  대학교25  24    81    55     159    177    83   172  30.291667
25  대학교26  19    89   127     135    112   124   121  37.263158
26  대학교27  31   128    66      56     81   195   150  21.806452
27  대학교28  36    60   170     188     86   133   144  21.694444
28  대학교29  21    78   113     123    110    82   192  33.238095
29  대학교30  27   195    63     189     98   129   129  29.740741
30  대학교31  26    58   168     179    123   198    53  29.961538
31  대학교32  40   152   138     108     65    64   190  17.925000
32  대학교33  38   190   136      55     87   128   122  18.894737
33  대학교34  29   148   108      66    114   122    93  22.448276
34  대학교35  32   137    86      72     52   124   133  18.875000
35  대학교36  25   159   104     177     61   158    66  29.000000
36  대학교37  32   141   158      61     53   177    92  21.312500
37  대학교38  40    60   141     162    102   111   110  17.150000
38  대학교39  23    93    62     190    106    66   159  29.391304
39  대학교40  25    61   121     184     92   185    99  29.680000
40  대학교41  20    64    88      79    168    73    84  27.800000
41  대학교42  37    98   152     195    161   186   143  25.270270
42  대학교43  28   177   169     107    122   185    73  29.750000
43  대학교44  22    87   106     167    160   101   153  35.181818
44  대학교45  21   105    72     162     60   186   129  34.000000
45  대학교46  22   163   189     192    121    99   183  43.045455
46  대학교47  34    85    51      91     72   134    58  14.441176
47  대학교48  41    57   103      59     89   184    75  13.829268
48  대학교49  21   150   158     159     78    65   195  38.333333
49  대학교50  42    71   102     148     96   157    82  15.619048

In [ ]:
id = df['단위교수학생수'].idxmax()   # 행 출력 : idxmax(), idxmin()
print(df.loc[id,"교수"])          # df.loc[ 행, 열]

22

---
3. 주어진 데이터를 이용하여 연도별 총 범죄 건수의 월평균 값을 구하고, 그 값이 가장 큰 연도의 총 범죄 건수의 월평균 값을 집계하시오(반올림하여 정수로 출력)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_3.csv')
print(df.head(15))
print()
print(df.info())

           날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명
0   2018년 01월    28   127    90    73    33   202   검찰청1
1   2018년 02월    16   137    72    80    30   180   검찰청5
2   2018년 03월    29   140    70    79    34   211   검찰청5
3   2018년 04월    10   140    90    65    31   184   검찰청1
4   2018년 05월    11   138    70    75    35   190   검찰청1
5   2018년 06월    30   128    78    74    34   216   검찰청5
6   2018년 07월    21   128    84    69    31   181   검찰청1
7   2018년 08월    26   120    86    76    33   188   검찰청5
8   2018년 09월    11   117    86    65    33   192   검찰청5
9   2018년 10월    12   117    86    67    28   200   검찰청5
10  2018년 11월    22   103    83    72    33   196   검찰청1
11  2018년 12월    28   124    83    61    27   209   검찰청2
12  2019년 01월    22   102    86    62    28   212   검찰청1
13  2019년 02월    26   138    80    61    31   183   검찰청3
14  2019년 03월    14   129    76    60    29   202   검찰청5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      60 non-null     object
 1   폭력범죄    60 non-null     int64
 2   지능범죄    60 non-null     int64
 3   교통범죄    60 non-null     int64
 4   절도범죄    60 non-null     int64
 5   경제범죄    60 non-null     int64
 6   정치범죄    60 non-null     int64
 7   주요검찰청명  60 non-null     object
dtypes: int64(6), object(2)
memory usage: 3.9+ KB
None

In [ ]:
df['연도'] = df['날짜'].str[:4].astype(int)
df.head()

          날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명    연도
0  2018년 01월    28   127    90    73    33   202   검찰청1  2018
1  2018년 02월    16   137    72    80    30   180   검찰청5  2018
2  2018년 03월    29   140    70    79    34   211   검찰청5  2018
3  2018년 04월    10   140    90    65    31   184   검찰청1  2018
4  2018년 05월    11   138    70    75    35   190   검찰청1  2018

In [ ]:
# Label과 인덱스의 활용을 통한 .loc
# 행번호(row number)로 선택하는 방법(.iloc)

df['총범죄수']= df.iloc[:,1:-2].sum(axis=1)

In [ ]:
group = df.groupby('연도')['총범죄수'].mean()
group

연도
2018    527.333333
2019    520.500000
2020    514.916667
2021    528.333333
2022    524.416667
Name: 총범죄수, dtype: float64

In [ ]:
print(round(group.max()))

528

**제2유형**

학습 530명에 대한 학습용(train)테이터를 이용하여 학생 구분(유치원생,초등학생,중학생,고등학생,대학생) 예측 모형을 만든 후, 이를 평가용(test) 데이터에 적용하여 얻은 230명 학생의 구분을 다음과 같은 형식의 CSV 파일로 생성하시오.
(제출한 모델의 성능은 f1-marco)평가에 따라 채점

In [ ]:
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_test.csv')

print(train.info())
print()
print(train.head())
print()
print(train.describe())

col_scale =['일평균수면시간','일평균학습시간','일평균스마트폰사용시간','몸무게','기초대사량']
col_encoder =['키','체격','거주지역']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      530 non-null    float64
 1   일평균학습시간      530 non-null    float64
 2   일평균스마트폰사용시간  530 non-null    float64
 3   키            530 non-null    object
 4   몸무게          530 non-null    float64
 5   체격           530 non-null    object
 6   기초대사량        530 non-null    float64
 7   거주지역         530 non-null    object
 8   구분           530 non-null    object
dtypes: float64(5), object(4)
memory usage: 37.4+ KB
None

   일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역    구분
0     7.35     7.74          4.8   Tall  52.050   L  1499.4   동구  고등학생
1     7.05     8.10          1.2   Tall  51.300   M  1624.4   서구   중학생
2     7.35     7.74          3.0   Tall  51.285   L  1499.4   동구  고등학생
3     8.58     6.66          4.8  Short  25.545  XS  1249.5   서구  초등학생
4     7.05     8.10          4.8   Tall  54.150   M  1624.4   서구   대학생

          일평균수면시간     일평균학습시간  일평균스마트폰사용시간         몸무게        기초대사량
count  530.000000  530.000000   530.000000  530.000000   530.000000
mean     8.346679    6.921849     2.834717   37.430264  1621.781887
std      1.091936    0.950859     1.582036   14.391361   216.685794
min      6.440000    5.580000     0.000000   16.755000  1249.500000
25%      7.350000    6.210000     1.200000   23.655000  1499.400000
50%      8.270000    6.840000     3.000000   37.905000  1624.400000
75%      9.190000    7.740000     4.800000   50.400000  1749.300000
max     10.110000    8.820000     4.800000   72.045000  2124.200000

In [ ]:
# 결측치 처리, 수치데이터 스케일링, 텍스트 인코딩(키,거주지역)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
train['일평균수면시간'] = scaler.fit_transform(train[['일평균수면시간']])
test['일평균수면시간'] = scaler.fit_transform(test[['일평균수면시간']])

train['일평균학습시간'] = scaler.fit_transform(train[['일평균학습시간']])
test['일평균학습시간'] = scaler.fit_transform(test[['일평균학습시간']])

train['일평균스마트폰사용시간'] = scaler.fit_transform(train[['일평균스마트폰사용시간']])
test['일평균스마트폰사용시간'] = scaler.fit_transform(test[['일평균스마트폰사용시간']])

train['몸무게'] = scaler.fit_transform(train[['몸무게']])
test['몸무게'] = scaler.fit_transform(test[['몸무게']])

train['기초대사량'] = scaler.fit_transform(train[['기초대사량']])
test['기초대사량'] = scaler.fit_transform(test[['기초대사량']])

In [ ]:
temp=train['구분']
train = pd.get_dummies(train.drop(['구분'],axis=1))
train['구분'] = temp

test = pd.get_dummies(test)
test.info()



#from sklearn.preprocessing import LabelEncoder

#encoder = LabelEncoder()
#train['키'] = encoder.fit_transform(train[['키']])
#test['키'] = encoder.transform(test[['키']])

#train['체격'] = encoder.fit_transform(train[['체격']])
#test['체격'] = encoder.transform(test[['체격']])

#train['거주지역'] = encoder.fit_transform(train[['거주지역']])
#test['거주지역'] = encoder.transform(test[['거주지역']])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      230 non-null    float64
 1   일평균학습시간      230 non-null    float64
 2   일평균스마트폰사용시간  230 non-null    float64
 3   몸무게          230 non-null    float64
 4   기초대사량        230 non-null    float64
 5   키_Short      230 non-null    bool
 6   키_Tall       230 non-null    bool
 7   체격_L         230 non-null    bool
 8   체격_M         230 non-null    bool
 9   체격_S         230 non-null    bool
 10  체격_XS        230 non-null    bool
 11  거주지역_남구      230 non-null    bool
 12  거주지역_동구      230 non-null    bool
 13  거주지역_북구      230 non-null    bool
 14  거주지역_서구      230 non-null    bool
dtypes: bool(10), float64(5)
memory usage: 11.4 KB

In [ ]:
from sklearn.preprocessing import StandardScaler

for col in col_scale:
  scaler = StandardScaler()
  scaler.fit(train[[col]])

  train[col] = scaler.transform(train[[col]])
  test[col] = scaler.transform(test[[col]])


from sklearn.preprocessing import LabelEncoder

for col in col_encoder :
  encoder = LabelEncoder()
  encoder.fit(train[col])
  train[col] = encoder.transform(train[[col]])
  test[col] = encoder.transform(test[[col]])

print(train.head())

    일평균수면시간   일평균학습시간  일평균스마트폰사용시간  키       몸무게  체격     기초대사량  거주지역    구분
0 -0.913626  0.861247     1.243423  1  1.016829   0 -0.565323     1  고등학생
1 -1.188627  1.240209    -1.034276  1  0.964665   1  0.012094     3   중학생
2 -0.913626  0.861247     0.104574  1  0.963621   0 -0.565323     1  고등학생
3  0.213878 -0.275642     1.243423  0 -0.826641   3 -1.719696     3  초등학생
4 -1.188627  1.240209     1.243423  1  1.162887   1  0.012094     3   대학생

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(train,train['구분'],test_size=0.2,stratify = train['구분'])
x_train.drop(['구분'],axis=1, inplace=True)
x_test.drop(['구분'],axis=1, inplace = True)
print(x_train.head())
print()
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

      일평균수면시간   일평균학습시간  일평균스마트폰사용시간  키       몸무게  체격     기초대사량  거주지역
238 -1.747795  1.998135     1.243423  1  0.938583   2 -0.565323     0
91   0.498046 -0.559864    -1.034276  0 -1.156317   3 -1.142278     3
262  1.057214 -1.033567     1.243423  0 -0.702491   3  0.012094     3
13  -0.913626  0.861247     1.243423  1  0.581782   0 -0.565323     1
440 -0.070290 -0.086160     1.243423  1  1.534294   1  2.320839     0

(424, 8) (106, 8) (424,) (106,)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=123)
rf.fit(x_train,y_train)

pred = rf.predict(x_test)

from sklearn.metrics import f1_score

f1_score = f1_score(y_test,pred,average='macro')
print(f1_score)

0.9477865850832059

In [ ]:
pred_test = rf.predict(test)
result = pd.DataFrame({'구분예측':pred_test})
print(result)

#result.to_csv('reuslt.csv',index = False)

     구분예측
0    고등학생
1    초등학생
2     중학생
3    유치원생
4    고등학생
..    ...
225  초등학생
226  초등학생
227  고등학생
228  고등학생
229  초등학생

[230 rows x 1 columns]

# 제3유형 1번

주어진 데이터를 이용하여 항암제를 투여받은 환자들의 부작용 분포와 감기약을 투여받은 환자들의 부작용 분포간 차이가 있는지 확인하시오
* 데이터
1. 항암제 투여 환자들의 관찰된 부작용